//- .preloader
//- 	img(src='static/img/general/fvg-small-logo.svg').preloader_logo
//- 	img(src="static/img/general/loader.svg").preloader_loader


section.hero#hero
	.container
		.hero-content
			//- header.header
			header.header
				.phone-numbers
					a.phone-belarus(href="#{byPhoneLnk}") #{byPhone}
					a.phone-russia(href="#{ruPhoneLnk}") #{ruPhone}
				button.btn-secondary.hero_callback.hero-callback--main Заказать звонок
			button.burger
				span
				span
				span
			.offer
				h1.headliner Брендинговое агентство
					span Fadeev-group

				p.descriptor Ваша узнаваемость и количество клиентов на нашей совести
				button.btn.hero-btn.hero-cta Получить клиентов

			.hero-socials
				a(href="#{ig}")
					+igIcon()
				a(href="#{vk}")
					+vkIcon()
				a(href="#{fb}")
					+fbIcon()
				a(href="#{tg}")
					+tgIcon()
				a(href="#{wa}")
					+waIcon()
				a(href="#{vi}")
					+viberIcon()

.pop-success_wrap
	.modal-inner
		.hero-modal.hero-callback
			p Данные отправлены, скоро с вами свяжемся

.hero-modal_wrap
	.hero-modal_inner
		form.hero-callback.hero-modal
			button(type="button").modal_close-btn ×
			h3#hero-callback_title Оставьте номер телефона<br>и мы вам перезвоним
			input(name="formname" value='callback').g-form-name
			input(
				type="tel"
				name='tel'
				placeholder="Телефон"
				required).g-input
			button.btn.pop-btn Заказать звонок


.hero-cta-modal_wrap
	.hero-modal_inner
		form.hero-callback.hero-modal
			button(type="button").modal_close-btn ×
			h3 Хотите мы вам перезвоним?
			p.modal-text Оставьте имя и один удобный контакт для связи
			input(name="formname" value='cta').g-form-name
			input(
				type="text"
				name='name'
				placeholder="Имя"
				required).g-input.hero-modal_input--first
			input(
				type="text"
				name='tel'
				placeholder="Телефон или email"
				required).g-input

			button.btn.pop-btn Заказать звонок

			p.modal-text Или свяжитесь с нами в любом удобном мессенджере

			a.modal_phone(href="tel:#{byPhoneLnk}") #{byPhone}

			.hero-socials.hero-socials--pop
				a(href="#{ig}").pop-socials
					+igIcon()
				a(href="#{vk}").pop-socials
					+vkIcon()
				a(href="#{fb}").pop-socials
					+fbIcon()
				a(href="#{tg}").pop-socials
					+tgIcon()
				a(href="#{wa}").pop-socials
					+waIcon()
				a(href="#{vi}").pop-socials
					+viberIcon()

.hero-callback-modal_wrap
	.hero-modal_inner
		form.hero-callback.hero-modal
			button(type="button").modal_close-btn ×
			h3 Оставьте любые удобные контакты
			p.modal-text Чтобы мы могли связаться с вами
			input(name="formname" value='cta').g-form-name
			input(
				type="text"
				name='name'
				placeholder="Имя"
				required).g-input.hero-modal_input--first
			input(
				type="text"
				name='tel'
				placeholder="Телефон или email"
				required).g-input

			button.btn.pop-btn Заказать звонок

			p.modal-text Или свяжитесь с нами в любом удобном мессенджере

			a.modal_phone(href="tel:#{byPhoneLnk}") #{byPhone}

			.hero-socials.hero-socials--pop
				a(href="#{ig}").pop-socials
					+igIcon()
				a(href="#{vk}").pop-socials
					+vkIcon()
				a(href="#{fb}").pop-socials
					+fbIcon()
				a(href="#{tg}").pop-socials
					+tgIcon()
				a(href="#{wa}").pop-socials
					+waIcon()
				a(href="#{vi}").pop-socials
					+viberIcon()






.menu_wrap
	.container
		.menu
			.menu_top
				a(href="#hero").menu-logo
					picture.menu-logo
						source(
							srcset='static/img/general/fvg-small-logo.svg'
							media='(max-width: 200px)')
						source(
							srcset='static/img/general/fvg-small-logo.svg'
							media='(max-width: 500px)')
						source(
							srcset='static/img/general/fvg-small-logo.svg'
							media='(max-width: 800px)')
						img.hero-menu-logo--inside(
							src='static/img/general/fvg-big-logo.svg',
							alt='')
				button.menu-burger_close
					span.burger-close_left
					span.burger-close_right
			.menu_bottom
				.menu_contacts
					.hero-socials
						a(href="#{ig}")
							+igIcon()
						a(href="#{vk}")
							+vkIcon()
						a(href="#{tg}")
							+tgIcon()
						a(href="#{wa}")
							+waIcon()
						a(href="#{vi}")
							+viberIcon()
						a(href="#{fb}")
							+fbIcon()
					a.menu_item.hero-menu_email(href="#{email}") #{email}
					a.menu_item.phone-belarus(href="#{byPhoneLnk}") #{byPhone}
					a.menu_item.phone-russia(href="#{ruPhoneLnk}") #{ruPhone}
					button.menu_item.btn-secondary.hero_callback Заказать звонок

				nav.menu_nav
					a.menu_nav-item.anchor(href="#cases" data-shadow="Кейсы") Кейсы
					a.menu_nav-item.anchor(href="#services" data-shadow="Услуги") Услуги
					//- button.menu_nav-item.hero_callback(data-shadow="Заказать услуги") Заказать услуги
					a.menu_nav-item.anchor(href="#work" data-shadow="Как мы работаем") Как мы работаем
					a.menu_nav-item.anchor.menu_nav-item--fvg(href="#fvg" data-shadow="Другие проекты") Другие проекты
