section.hero
	.container
		.hero-content
			header.header
				.phone-numbers
					a.phone-russia(href="") +7 000 000 00 00
					a.phone-belarus(href="") +375 00 000 00 00
				button.btn-secondary.hero_callback Заказать звонок
				button.burger
					span
					span
					span
			.offer
				h1.headliner Брендинговое агентство
					span Fadeev-group
				img(src="static/img/general/fvg-big-logo.svg" alt="fvg").hero-logo
				p.descriptor Ваша узнаваемость и количество клиентов на нашей совести
				a(href="").btn.hero-btn Получить клиентов

				.hero-socials
					a(href="")
						img(src="static/img/general/ig.svg", alt="").hero-socials_icon
					a(href="")
						img(src="static/img/general/vk.svg", alt="").hero-socials_icon
					a(href="")
						img(src="static/img/general/fb.svg", alt="").hero-socials_icon
					a(href="")
						img(src="static/img/general/tg.svg", alt="").hero-socials_icon
					a(href="")
						img(src="static/img/general/wa.svg", alt="").hero-socials_icon


.hero-modal_wrap
	form.hero-modal(action="")
		button(type="button").modal_close-btn ×
		h3 Оставьте номер телефона<br>и мы вам перезвоним
		input(
			placeholder="Телефон"
			required).g-input
		button.btn Заказать

.menu_wrap
	.container
		.menu
			.menu_top
				picture.menu-logo
					source(
						srcset='static/img/general/fvg-small-logo.svg'
						media='(max-width: 200px)')
					source(
						srcset='static/img/general/fvg-small-logo.svg'
						media='(max-width: 500px)')
					source(
						srcset='static/img/general/fvg-small-logo.svg'
						media='(max-width: 800px)')
					img.hero-menu-logo--inside(
						src='static/img/general/fvg-big-logo.svg',
						alt='')
				button.menu-burger_close
					span.burger-close_left
					span.burger-close_right
			.menu_bottom
				.menu_contacts
					a.menu_item.phone-russia(href="") +7 000 000 00 00
					a.menu_item.phone-belarus(href="") +375 00 000 00 00
					a.menu_item.hero-menu_email(href="") hello@fadeevgroup.com
					button.menu_item.btn-secondary.hero_callback Заказать звонок
					.hero-socials
						a(href="")
							img(src="static/img/general/ig.svg", alt="").hero-socials_icon
						a(href="")
							img(src="static/img/general/vk.svg", alt="").hero-socials_icon
						a(href="")
							img(src="static/img/general/fb.svg", alt="").hero-socials_icon
						a(href="")
							img(src="static/img/general/tg.svg", alt="").hero-socials_icon
						a(href="")
							img(src="static/img/general/wa.svg", alt="").hero-socials_icon

				nav.menu_nav
					a.menu_nav-item.anchor(href="#services") Услуги
					button.menu_nav-item.hero_callback Закзать услуги
					a.menu_nav-item.anchor(href="#cases") Кейсы
					a.menu_nav-item.anchor(href="#work") Как мы рабоатем