section.work-wrap#work
	.container
		.work
			.section-title-container
				h2.section-title(data-shadow="Как мы работаем") Как мы работаем
				img.work_guy(src="static/img/content/7-how/how-title.png", alt="")
				img.work_cape(src="static/img/content/3-results/cape.png", alt="")
	.work-slider-wrap
		.work-slider
			.work-item.work-item--1
				img(src="static/img/content/7-how/1.png", alt="work-icon").work-item__icon
				p.work-item__text Вы <button class="work_btn work_btn--cta" data-formname="Как мы рабоатем">оставляете заявку</button> или <button class="work_btn work_btn--contacts">звоните нам</button>
			.work-item.work-item--2
				img(src="static/img/content/7-how/2.png", alt="work-icon").work-item__icon
				p.work-item__text Мы детально обсуждаем ваш проект
			.work-item.work-item--3
				img(src="static/img/content/7-how/3.png", alt="work-icon").work-item__icon
				p.work-item__text Высылаем вам коммерческое предложение.

			.work-item.work-item--4
				img(src="static/img/content/7-how/4.png", alt="work-icon").work-item__icon
				p.work-item__text Согласовываем бюджет, сроки, ответственности
			.work-item.work-item--5
				img(src="static/img/content/7-how/5.png", alt="work-icon").work-item__icon
				p.work-item__text Заключаем договор

			.work-item.work-item--6
				img(src="static/img/content/7-how/6.png", alt="work-icon").work-item__icon
				p.work-item__text Мы выполняем проект в соответствии с заключенным договором
			.work-item.work-item--7
				img(src="static/img/content/7-how/7.png", alt="work-icon").work-item__icon
				p.work-item__text Вы принимаете выполненный проект

.modal-contacts_wrap
	.modal-inner
		.hero-modal
			button(type="button").modal_close-btn ×
			a.modal-contants_item(href="tel:#{byPhoneLnk}") #{byPhone}
			a.modal-contants_item(href="tel:#{ruPhoneLnk}") #{ruPhone}
			a.modal-contants_item(href="mailto:#{email}") #{email}
			+socials({ 'class': 'footer-socials-icons',
				'inst': 'https://instagram.com',
				'vk': 'https://vk.com',
				'fb': 'https://facebook.com',
				'tg': 'https://telegram.org',
				'whats': 'https://whatsapp.com',	
				'vi': 'https://viber.com'
			})

