mixin icon(name,mod)
	- mod = mod || ''
	svg(class="icon icon-" + name + ' ' + mod)
		use(xlink:href="static/img/svg/symbol/sprite.svg#" + name)


// services
mixin bullet(img, text, section, bg, time)
	li.services-item__bullet(data-aos="fade-up" data-aos-duration=time   data-aos-offset="0")
		img(src="static/img/content/4-services/"+img+".png", alt="text").services-item__bullet-icon
		p.services-item__bullet-text= text
		img.services-item__bullet-bg(src="static/img/content/4-services/"+section+"/bg/"+bg+".png", alt="bg")

mixin serviceInfo(title, subtitle, text, f)
	.services-item-info(data-aos="fade-"+f data-aos-duration='500')
		h3.services-item__title= title
		h4.services-item__subitile= subtitle
		p.services-item__text= text
		button(data-service= title).btn.services-item__btn Узнать стоимость


//cases
// mixin caseItem(caseNumber, title, budget, result, long, text)
mixin caseItem(caseNumber, title, ...results)
	- var count = 1
	li.cases-item(data-aos="fade-up")
		h3.cases-item__title= title
		ul.cases-item__stats
			each result in results
				li.cases-item__stat(class="cases-item__stat--"+count++)= result
			// li.cases-item__stat Бюджет
			// 	span= budget
			// li.cases-item__stat Результат
			// 	span= result
			// li.cases-item__stat Срок
			// 	span= long
		p.cases-item__text= text
		button.btn.cases-item__btn(class="case-item__btn--"+caseNumber, data-case-number= caseNumber) Подробнее


// mixin bullet(img, text, section, bg, time)
// 	li.services-item__bullet(data-aos="fade-up" data-aos-duration=time)
// 		img(src="static/img/content/4-services/"+img+".png", alt="text").services-item__bullet-icon
// 		p.services-item__bullet-text= text
// 		img.services-item__bullet-bg(src="static/img/content/4-services/"+section+"/bg/"+bg+".png", alt="bg")

// mixin caseBullet(number, text, section, bg, time)
// 	li.services-item__bullet.case-modal-bubble(class=".case-modal-bubble--"+number,data-aos="fade-up" data-aos-duration=time)
// 		p.case-modal-bubble_text.services-item__bullet-text= text
// 		img.services-item__bullet-bg(src="static/img/content/4-services/"+section+"/bg/"+bg+".png", alt="bg")
mixin caseProblem(problem)
	.case-modal-problem
		.case-modal-problem-header

			span.case-modal-problem_number= problem.index

			h4.case-modal-problem_header= problem.title
			.case-modal-problem-name
				p.problem-name= problem.name
		.case-modal-problem_descr
			each val in problem.text
				p= val



mixin caseItemOpen(info)
	.case-modal_wrap(class="case-modal--"+info.number)
		.case-modal
			button(type="button").modal_close-btn ×
			.case-modal_hero
				.case-modal-headliner
					h3.case-modal_headliner Полная упаковка сервиса по аренде авто в Краснодаре
					a.case-modal_link(href="#") legioncar.ru
					p.case-modal_phrase Сотрудничаем с мая 2019 года и по сегодняший день
				img.case-modal_pic(src= info.img)

			.case-modal-bubbles
				.case-modal_bubble.case-modal_bubble__design
					.case-modal_bubble-pic
						img(src="static/img/general/case-design.svg")
					p Разработали дизайн сайта удобный для пользователя
				.case-modal_bubble.case-modal_bubble__seo
					.case-modal_bubble-pic
						img(src="static/img/general/case-seo.svg")
					p Сделали СЕО, настроили контекстную рекламу и получили клиентов из Яндекса и Гугла
				.case-modal_bubble.case-modal_bubble__smm
					.case-modal_bubble-pic
						img(src="static/img/general/case-target.svg")
					p Настроили таргетированную рекламу
				.case-modal_bubble.case-modal_bubble__web
					.case-modal_bubble-pic
						img(src="static/img/general/case-site.svg")
					p Запустили сайт
			h4.case-modal_title Проблемы клиента и как мы их решали



			+caseProblem(info.problemOne)
			+caseProblem(info.problemTwo)


			.case-modal-additional
				p.case-modal-additional_text В таргетированной рекламе акцент сделали на большой выбор автомобилей на все случаи жизни, статусность бренда и возможности, которые дает прокат своим клиентам. Для визуальной составляющей выбирали живые, сочные фотографии и динамичные видео.
				.case-modal-additional-bullets
					h4.case-modal-additional-bullets_title Целевые аудитории:
					.case-modal-additional_bullet__1 Бизнесмены
					.case-modal-additional_bullet__2 Мамы 28+
					.case-modal-additional_bullet__3 Молодые пары
					.case-modal-additional_bullet__4 Семьи
					.case-modal-additional_bullet__5 Офисные сотрудники и др

			.case-modal-results
				h4.case-modal-results_title Результаты
				ul.case-modal-results_list
					li.case-modal-results_item.case-modal-results_item--1 Динамично растущая база постоянных клиентов проката
					li.case-modal-results_item.case-modal-results_item--2 Новый эффективный, лего читаемый сайт, подходящий к запросам клиентов
					li.case-modal-results_item.case-modal-results_item--3 Настроенная контекстная и таргетированная реклама, приносящая прирост клиентов ежемесячно.
					li.case-modal-results_item.case-modal-results_item--4 Разрабатываем мобильное приложение, которое даст клиентам упрощенный вариант использования авто
					li.case-modal-results_item.case-modal-results_item--5 Успешно работаем с жалобами, вопросами аудитории
					li.case-modal-results_item.case-modal-results_item--6 Повышение конверсий на 35% каждый месяц

			.form2
				h2.form-title Чем дольше вы думаете, тем больше денег зарабатывают ваши конкуренты
				.form2-contacts
					.form2-call
						p.form2-cta Позвоните нам
						.phone-numbers
							a.phone-russia(href="") +7 123 456 27 23
							a.phone-belarus(href="") +375 123 456 27 23
					form
						input(name="formname" value='Открытый кейс').g-form-name
						input.g-input(
							name="tel"
							type="tel"
							placeholder="Оставьте номер телефона"
							required)
						input.btn(
							type="submit"
							value="Отправить").btn
						p.gdpr-caption Нажимая кнопку «Отправить», я даю согласие на передачу персональныхданных согласно политике конфиденциальности






// work
mixin workItem(icon, text)
	.work-slider-item
		img(src="static/img/content/7-how/"+icon+".png").work-item__img
		p.work-item__text= text

// reviews
mixin review(name, occupate, text)
	.reviews-slider-item
		.reviews-top
			img(src="https://picsum.photos/200/300").reviews-photo
			.reviews-who
				h3.reviews-name= name
				p.reviews-occupate= occupate
		p.review= text

// // socials
// mixin socials()
// 	.socials
// 		a(href="#").socials__link.socials__link-ig
// 		a(href="#").socials__link.socials__link-vk
// 		a(href="#").socials__link.socials__link-fb
// 		a(href="#").socials__link.socials__link-tg
// 		a(href="#").socials__link.socials__link-wa













// mixin igIcon()
// 	<svg class="hero-socials_icon" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
// 		<path fill-rule="evenodd" clip-rule="evenodd" d="M20 40C31.0457 40 40 31.0457 40 20C40 8.9543 31.0457 0 20 0C8.9543 0 0 8.9543 0 20C0 31.0457 8.9543 40 20 40ZM16.8758 20.0001C16.8758 18.2798 18.2797 16.8759 20 16.8759C21.7203 16.8759 23.1242 18.2798 23.1242 20.0001C23.1242 21.7205 21.7203 23.1244 20 23.1244C18.2797 23.1244 16.8758 21.7205 16.8758 20.0001ZM29.3706 19.5268C29.3705 19.6845 29.3703 19.8422 29.3703 20.0001C29.3703 20.1767 29.3706 20.3531 29.3708 20.5294C29.3725 21.6441 29.3741 22.7522 29.3094 23.8673C29.2367 25.3673 28.8969 26.6962 27.7976 27.7955C26.7008 28.8923 25.3695 29.2345 23.8695 29.3072C22.7357 29.371 21.6092 29.3697 20.4756 29.3685C20.318 29.3683 20.1602 29.3681 20.0023 29.3681C19.8447 29.3681 19.6873 29.3683 19.5299 29.3685C18.3979 29.3697 17.271 29.371 16.1351 29.3072C14.6351 29.2345 13.3062 28.8947 12.207 27.7955C11.1101 26.6986 10.7679 25.3673 10.6953 23.8673C10.6315 22.7335 10.6328 21.6051 10.634 20.4726C10.6342 20.3152 10.6344 20.1577 10.6344 20.0001C10.6344 19.8426 10.6342 19.6851 10.634 19.5278C10.6328 18.3957 10.6315 17.2688 10.6953 16.133C10.7679 14.633 11.1078 13.304 12.207 12.2048C13.3039 11.108 14.6351 10.7658 16.1351 10.6931C17.2689 10.6293 18.3955 10.6306 19.5291 10.6318C19.6867 10.632 19.8444 10.6322 20.0023 10.6322C20.1599 10.6322 20.3174 10.632 20.4747 10.6318C21.6068 10.6306 22.7336 10.6293 23.8695 10.6931C25.3695 10.7658 26.6984 11.1056 27.7976 12.2048C28.8945 13.3017 29.2367 14.633 29.3094 16.133C29.3731 17.2667 29.3719 18.3933 29.3706 19.5268ZM15.1929 20.0001C15.1929 22.6603 17.3398 24.8072 20 24.8072C22.6601 24.8072 24.807 22.6603 24.807 20.0001C24.807 17.34 22.6601 15.1931 20 15.1931C17.3398 15.1931 15.1929 17.34 15.1929 20.0001ZM23.8812 14.9962C23.8812 15.6173 24.3828 16.1189 25.0039 16.1189C25.1514 16.1191 25.2974 16.0902 25.4337 16.0338C25.57 15.9775 25.6938 15.8948 25.7981 15.7905C25.9024 15.6862 25.9851 15.5624 26.0415 15.4261C26.0978 15.2898 26.1267 15.1437 26.1265 14.9962C26.1265 14.3751 25.625 13.8736 25.0039 13.8736C24.3828 13.8736 23.8812 14.3751 23.8812 14.9962Z" fill="white"/>
// 	</svg>

mixin igIcon()
	<svg class="hero-socials_icon" width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
	<path d="M30.0014 20.764C24.8906 20.764 20.7659 24.8887 20.7659 29.9995C20.7659 35.1104 24.8906 39.2351 30.0014 39.2351C35.1122 39.2351 39.2369 35.1104 39.2369 29.9995C39.2369 24.8887 35.1122 20.764 30.0014 20.764ZM30.0014 36.0019C26.6962 36.0019 23.999 33.3047 23.999 29.9995C23.999 26.6944 26.6962 23.9971 30.0014 23.9971C33.3065 23.9971 36.0038 26.6944 36.0038 29.9995C36.0038 33.3047 33.3065 36.0019 30.0014 36.0019ZM39.6151 18.2334C38.4219 18.2334 37.4582 19.197 37.4582 20.3903C37.4582 21.5836 38.4219 22.5472 39.6151 22.5472C40.8084 22.5472 41.772 21.5881 41.772 20.3903C41.7724 20.1069 41.7169 19.8263 41.6086 19.5645C41.5003 19.3026 41.3415 19.0647 41.1411 18.8643C40.9407 18.664 40.7028 18.5051 40.441 18.3969C40.1791 18.2886 39.8985 18.233 39.6151 18.2334V18.2334ZM48.0041 29.9995C48.0041 27.5139 48.0266 25.0508 47.887 22.5697C47.7474 19.6878 47.09 17.1302 44.9826 15.0228C42.8708 12.9109 40.3176 12.258 37.4357 12.1184C34.9501 11.9788 32.487 12.0013 30.0059 12.0013C27.5203 12.0013 25.0572 11.9788 22.5761 12.1184C19.6942 12.258 17.1365 12.9154 15.0292 15.0228C12.9173 17.1347 12.2644 19.6878 12.1248 22.5697C11.9852 25.0553 12.0077 27.5184 12.0077 29.9995C12.0077 32.4807 11.9852 34.9483 12.1248 37.4294C12.2644 40.3113 12.9218 42.8689 15.0292 44.9763C17.141 47.0882 19.6942 47.7411 22.5761 47.8807C25.0617 48.0203 27.5248 47.9978 30.0059 47.9978C32.4915 47.9978 34.9546 48.0203 37.4357 47.8807C40.3176 47.7411 42.8753 47.0837 44.9826 44.9763C47.0945 42.8644 47.7474 40.3113 47.887 37.4294C48.0311 34.9483 48.0041 32.4852 48.0041 29.9995V29.9995ZM44.0415 40.6174C43.7128 41.437 43.3166 42.0494 42.6816 42.6798C42.0467 43.3147 41.4388 43.711 40.6193 44.0397C38.2508 44.9808 32.6266 44.7692 30.0014 44.7692C27.3762 44.7692 21.7475 44.9808 19.379 44.0442C18.5594 43.7155 17.9471 43.3192 17.3166 42.6843C16.6817 42.0494 16.2855 41.4415 15.9568 40.622C15.0201 38.2489 15.2318 32.6248 15.2318 29.9995C15.2318 27.3743 15.0201 21.7457 15.9568 19.3771C16.2855 18.5576 16.6817 17.9452 17.3166 17.3148C17.9516 16.6844 18.5594 16.2836 19.379 15.9549C21.7475 15.0183 27.3762 15.2299 30.0014 15.2299C32.6266 15.2299 38.2553 15.0183 40.6238 15.9549C41.4433 16.2836 42.0557 16.6799 42.6861 17.3148C43.3211 17.9497 43.7173 18.5576 44.046 19.3771C44.9826 21.7457 44.771 27.3743 44.771 29.9995C44.771 32.6248 44.9826 38.2489 44.0415 40.6174Z" fill="white"/>
	</svg>





mixin vkIcon()
	<svg class="hero-socials_icon" width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M45.3947 22.3501C45.6292 21.5712 45.3947 21 44.2858 21H40.6126C39.6779 21 39.2508 21.4941 39.0163 22.0368C39.0163 22.0368 37.1487 26.5911 34.5022 29.5442C33.6479 30.4035 33.2576 30.6748 32.792 30.6748C32.5592 30.6748 32.2208 30.4035 32.2208 29.6246V22.3501C32.2208 21.4154 31.9511 21 31.1723 21H25.4002C24.8173 21 24.4656 21.4322 24.4656 21.8442C24.4656 22.7286 25.7888 22.933 25.9245 25.4254V30.8323C25.9245 32.0165 25.7118 32.2326 25.2428 32.2326C23.9982 32.2326 20.9698 27.6615 19.1726 22.4288C18.8225 21.4121 18.4691 21.0017 17.5311 21.0017H13.8595C12.8092 21.0017 12.5999 21.4958 12.5999 22.0385C12.5999 23.0134 13.8444 27.8373 18.397 34.2174C21.4321 38.5741 25.7051 40.9359 29.5978 40.9359C31.931 40.9359 32.2191 40.4116 32.2191 39.5071V36.214C32.2191 35.1655 32.4419 34.9544 33.1806 34.9544C33.7233 34.9544 34.6579 35.2291 36.8371 37.3279C39.3261 39.817 39.7382 40.9342 41.1368 40.9342H44.8084C45.857 40.9342 46.3813 40.4099 46.0798 39.3747C45.7498 38.3446 44.5605 36.8455 42.9827 35.0717C42.1251 34.06 40.8437 32.9712 40.4534 32.4269C39.9091 31.725 40.0665 31.4152 40.4534 30.7921C40.4551 30.7937 44.929 24.4924 45.3947 22.3501V22.3501Z" fill="white"/>
	</svg>



mixin fbIcon()
	<svg class="hero-socials_icon" width="45" height="60" viewBox="0 0 45 60" fill="none" xmlns="http://www.w3.org/2000/svg">
		<g clip-path="url(#clip0)">
			<path d="M17.9667 48V31.1078H13.5V25.0257H17.9667V19.8309C17.9667 15.7488 20.6051 12 26.6848 12C29.1463 12 30.9665 12.236 30.9665 12.236L30.8231 17.9156C30.8231 17.9156 28.9668 17.8975 26.9411 17.8975C24.7487 17.8975 24.3974 18.9078 24.3974 20.5847V25.0257H30.9973L30.7102 31.1078H24.3974V48H17.9667Z" fill="white"/>
		</g>
		<defs>
			<clipPath id="clip0">
				<rect width="17.4973" height="36" fill="white" transform="translate(13.5 12)"/>
			</clipPath>
		</defs>
	</svg>




mixin tgIcon()
	<svg class="hero-socials_icon" width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M39.9976 18.1753L13.4026 28.4308C11.5876 29.1598 11.5981 30.1723 13.0696 30.6238L19.8976 32.7538L35.6956 22.7863C36.4426 22.3318 37.1251 22.5763 36.5641 23.0743L23.7646 34.6258H23.7616L23.7646 34.6273L23.2936 41.6653C23.9836 41.6653 24.2881 41.3488 24.6751 40.9753L27.9916 37.7503L34.8901 42.8458C36.1621 43.5463 37.0756 43.1863 37.3921 41.6683L41.9206 20.3263C42.3841 18.4678 41.2111 17.6263 39.9976 18.1753V18.1753Z" fill="white"/>
	</svg>




mixin waIcon()
	<svg class="hero-socials_icon" width="58" height="60" viewBox="0 0 58 60" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M34.3524 30.9884C34.5456 30.9884 35.2699 31.3152 36.5254 31.969C37.7809 32.6227 38.4458 33.0165 38.5201 33.1502C38.5498 33.2245 38.5646 33.3359 38.5646 33.4845C38.5646 33.9748 38.4383 34.5394 38.1858 35.1783C37.948 35.7578 37.4206 36.2443 36.6034 36.6381C35.7862 37.0318 35.0285 37.2287 34.3301 37.2287C33.4832 37.2287 32.0717 36.7681 30.0956 35.8469C28.6396 35.1783 27.3766 34.3017 26.3069 33.2171C25.2371 32.1324 24.1376 30.7581 23.0084 29.094C21.9387 27.5042 21.4112 26.063 21.4261 24.7703V24.5921C21.4706 23.24 22.0204 22.0662 23.0753 21.0707C23.4319 20.7439 23.8182 20.5804 24.2342 20.5804C24.3234 20.5804 24.4571 20.5916 24.6354 20.6139C24.8137 20.6361 24.9548 20.6473 25.0588 20.6473C25.3411 20.6473 25.538 20.6956 25.6494 20.7922C25.7609 20.8887 25.876 21.093 25.9949 21.405C26.1137 21.7022 26.3589 22.3559 26.7303 23.3663C27.1018 24.3766 27.2875 24.9338 27.2875 25.0378C27.2875 25.3498 27.0312 25.777 26.5186 26.3193C26.006 26.8616 25.7497 27.207 25.7497 27.3556C25.7497 27.4596 25.7869 27.5711 25.8611 27.6899C26.3663 28.7745 27.1241 29.7923 28.1344 30.7432C28.9664 31.5307 30.0882 32.281 31.4997 32.9942C31.678 33.0982 31.8414 33.1502 31.99 33.1502C32.2129 33.1502 32.6141 32.7899 33.1935 32.0693C33.773 31.3487 34.1593 30.9884 34.3524 30.9884ZM29.8282 42.8004C31.7152 42.8004 33.5241 42.4289 35.255 41.686C36.986 40.9432 38.4755 39.9477 39.7235 38.6996C40.9716 37.4515 41.9671 35.962 42.71 34.2311C43.4529 32.5002 43.8243 30.6912 43.8243 28.8043C43.8243 26.9173 43.4529 25.1084 42.71 23.3774C41.9671 21.6465 40.9716 20.157 39.7235 18.9089C38.4755 17.6609 36.986 16.6654 35.255 15.9225C33.5241 15.1796 31.7152 14.8081 29.8282 14.8081C27.9412 14.8081 26.1323 15.1796 24.4014 15.9225C22.6704 16.6654 21.1809 17.6609 19.9328 18.9089C18.6848 20.157 17.6893 21.6465 16.9464 23.3774C16.2035 25.1084 15.8321 26.9173 15.8321 28.8043C15.8321 31.8204 16.7235 34.5543 18.5065 37.0058L16.7458 42.1986L22.1392 40.4826C24.4868 42.0278 27.0498 42.8004 29.8282 42.8004ZM29.8282 12C32.1015 12 34.2744 12.4457 36.3471 13.3372C38.4198 14.2287 40.2064 15.4247 41.7071 16.9254C43.2077 18.426 44.4038 20.2127 45.2953 22.2854C46.1867 24.358 46.6325 26.531 46.6325 28.8043C46.6325 31.0775 46.1867 33.2505 45.2953 35.3232C44.4038 37.3958 43.2077 39.1825 41.7071 40.6831C40.2064 42.1838 38.4198 43.3798 36.3471 44.2713C34.2744 45.1628 32.1015 45.6085 29.8282 45.6085C26.9309 45.6085 24.2193 44.9102 21.6935 43.5136L12.3999 46.5L15.4309 37.4738C13.8263 34.8291 13.0239 31.9393 13.0239 28.8043C13.0239 26.531 13.4697 24.358 14.3611 22.2854C15.2526 20.2127 16.4487 18.426 17.9493 16.9254C19.45 15.4247 21.2366 14.2287 23.3093 13.3372C25.382 12.4457 27.5549 12 29.8282 12Z" fill="white"/>
	</svg>







mixin viberIcon()
	<svg class="hero-socials_icon" width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M29.6866 12.0052C26.7972 12.0401 20.5853 12.5149 17.1109 15.7024C14.5265 18.2633 13.6241 22.0494 13.5183 26.7311C13.4306 31.3959 13.3248 40.1562 21.769 42.5415V46.1746C21.769 46.1746 21.7161 47.6283 22.677 47.9264C23.8606 48.3011 24.5346 47.1827 25.6597 45.9811L27.7581 43.6081C33.5357 44.0886 37.9608 42.9814 38.4705 42.8172C39.6429 42.4425 46.2464 41.5986 47.3254 32.8372C48.4325 23.7888 46.7864 18.0877 43.8149 15.5089H43.7969C42.9002 14.6831 39.2964 12.057 31.2449 12.0277C31.2449 12.0277 30.6474 11.9872 29.6866 12.0041V12.0052ZM29.7856 14.5492C30.6058 14.5436 31.1042 14.5784 31.1042 14.5784C37.9192 14.5964 41.172 16.6476 41.9393 17.3384C44.4416 19.4829 45.7311 24.6225 44.7871 32.1767C43.8903 39.5014 38.5347 39.9649 37.5434 40.2811C37.1215 40.4161 33.224 41.377 28.3139 41.0608C28.3139 41.0608 24.6572 45.4736 23.5141 46.61C23.3329 46.8092 23.1214 46.8677 22.9864 46.8384C22.7928 46.7912 22.7343 46.5515 22.7456 46.223L22.7805 40.1933C15.619 38.2131 16.0409 30.741 16.1174 26.8379C16.2052 22.9348 16.9376 19.7417 19.1181 17.5792C22.0536 14.925 27.3283 14.5672 29.7833 14.5492H29.7856ZM30.3257 18.4512C30.2667 18.4506 30.2082 18.4616 30.1536 18.4838C30.099 18.5059 30.0492 18.5386 30.0073 18.58C29.9653 18.6214 29.932 18.6707 29.9092 18.7251C29.8864 18.7794 29.8746 18.8378 29.8745 18.8967C29.8745 19.1487 30.0792 19.3479 30.3257 19.3479C31.4412 19.3267 32.55 19.5265 33.5879 19.9359C34.6259 20.3453 35.5725 20.9561 36.3733 21.7332C38.0081 23.3208 38.8047 25.454 38.8351 28.2432C38.8351 28.4896 39.0342 28.6944 39.2863 28.6944V28.6764C39.405 28.6767 39.5191 28.6301 39.6036 28.5466C39.6882 28.4631 39.7362 28.3496 39.7374 28.2309C39.7921 26.918 39.5792 25.6077 39.1117 24.3797C38.6442 23.1517 37.9318 22.0315 37.018 21.0874C35.2369 19.3468 32.9799 18.45 30.3257 18.45V18.4512ZM24.395 19.4829C24.0766 19.4364 23.7518 19.5003 23.4747 19.6641H23.4511C22.8078 20.0411 22.2283 20.5177 21.7341 21.0761C21.3234 21.5509 21.1006 22.0314 21.0421 22.4938C21.0073 22.7694 21.0309 23.0451 21.113 23.3084L21.1423 23.3264C21.6047 24.6856 22.2089 25.993 22.947 27.2239C23.8978 28.9532 25.0678 30.5524 26.4282 31.9821L26.4687 32.0406L26.5328 32.0878L26.5733 32.1351L26.6206 32.1756C28.0554 33.5399 29.6585 34.7155 31.3912 35.6737C33.3714 36.7515 34.573 37.2612 35.2943 37.4728V37.484C35.5058 37.5481 35.6982 37.5774 35.8917 37.5774C36.5064 37.5324 37.0882 37.2828 37.5445 36.8686C38.1004 36.3743 38.5717 35.7924 38.9397 35.146V35.1347C39.2851 34.4844 39.1681 33.8689 38.6697 33.4526C37.6715 32.5801 36.592 31.8051 35.4462 31.1382C34.6788 30.7219 33.8991 30.974 33.5829 31.3959L32.909 32.2454C32.5636 32.6673 31.9357 32.6088 31.9357 32.6088L31.9177 32.62C27.236 31.424 25.9871 26.6838 25.9871 26.6838C25.9871 26.6838 25.9286 26.0391 26.3618 25.7106L27.2056 25.031C27.6096 24.7024 27.8909 23.9238 27.4577 23.1554C26.7954 22.0079 26.0221 20.9282 25.1489 19.9318C24.958 19.6969 24.6902 19.5371 24.3928 19.4807L24.395 19.4829ZM31.1042 20.8196C30.5068 20.8196 30.5068 21.7219 31.1099 21.7219C31.8528 21.734 32.586 21.8923 33.2677 22.1879C33.9494 22.4835 34.5662 22.9105 35.0827 23.4445C35.554 23.9643 35.9161 24.5735 36.1476 25.2358C36.3792 25.8981 36.4754 26.6002 36.4307 27.3004C36.4327 27.4189 36.4811 27.5319 36.5654 27.6151C36.6497 27.6984 36.7633 27.7454 36.8818 27.7459L36.8998 27.7696C37.0192 27.7687 37.1335 27.7209 37.2179 27.6364C37.3023 27.552 37.3501 27.4378 37.351 27.3184C37.3915 25.5305 36.8357 24.0307 35.7454 22.8291C34.6496 21.6274 33.1205 20.9535 31.1684 20.8196H31.1042V20.8196ZM31.8435 23.2454C31.228 23.2274 31.2044 24.1477 31.8142 24.1657C33.2971 24.2422 34.0172 24.9916 34.1117 26.533C34.1138 26.65 34.1616 26.7616 34.2449 26.8438C34.3281 26.926 34.4403 26.9724 34.5573 26.973H34.5753C34.6355 26.9704 34.6945 26.9558 34.749 26.9302C34.8035 26.9045 34.8523 26.8683 34.8926 26.8236C34.933 26.7789 34.964 26.7265 34.9839 26.6697C35.0038 26.6129 35.0121 26.5526 35.0085 26.4925C34.9027 24.483 33.8068 23.3511 31.8615 23.2465H31.8435V23.2454Z" fill="white"/>
	</svg>






mixin socials(data)
	div(class= data.class)
		if (data.inst)
			a.social--insta(href= data.inst, class= data.class+'__item')
				// img(src='static/img/general/ig.svg' alt="insta-link")
				+igIcon()
		if (data.vk)
			a.social--vk(href= data.vk, class= data.class+'__item')
				+vkIcon()

		if (data.fb)
			a.social--fb(href= data.fb, class= data.class+'__item')
				// img(src='static/img/general/fb.svg' alt="fb-link")
				+fbIcon()
		if (data.tg)
			a.social--tg(href= data.tg, class= data.class+'__item')
				// img(src='static/img/general/tg.svg' alt="tg-link")
				+tgIcon()

		if (data.whats)
			a.social--whats(href= data.whats, class= data.class+'__item')
				+waIcon()
		if (data.vi)
			a.social--whats(href= data.vi, class= data.class+'__item')
				+viberIcon()